* {
  //   border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HEADER

.header {
  background: linear-gradient(180deg, #bce9d4 0%, white 100%);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 0px solid white;

  button {
    border: none;
    background: none;
  }
  .menu-button img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .cauldron-button img {
    width: 50px;
    height: 50px;
  }
}

.menu-links {
  display: none;

  a {
    text-decoration: none;
  }

  .menu-item {
    margin: 10px;
    width: 50%;
  }
}

// MAIN - Company Image

.company-img img {
  width: 100%;
}
// MAIN - Shop / Explore Button

.shop-btn {
  display: flex;
  justify-content: center;
}
.shop-btn button {
  font-size: 1.4em;
  letter-spacing: 2px;
  background: white;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

// MAIN - Product Categories
.product-cat {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.product-cat img {
  width: 8em;
  height: 8em;
  padding: 10px;
  border-radius: 50%;

  &:hover {
    border: 2px dotted black;
    opacity: 40%;
  }
}
// MAIN - Customer Reviews

.reviews-carousel {
  padding: 30px;
  border-radius: 20px;
}

// SHOP PRODUCTS PAGE

.product-container {
  padding: 30px;
}
.product-card {
  //   border: 2px solid black;
  //   border-radius: 20px;
  width: 100%;
  text-align: center;

  .name {
    font-size: 1em;
    // padding: 10px;
    text-transform: uppercase;
  }
  img {
    // padding: 20px;
    width: 100%;
    margin: auto;
  }

  p {
    text-align: justify;
    margin: auto;
  }

  .price {
    font-size: 1.5em;
    margin: 0;
  }
  button {
    // padding: 10px;
    // margin: 10px;
    width: 100%;
    border: 2px solid black;
    margin: 0 0 20px 0;
  }
}

// FOOTER

.footer {
  background: linear-gradient(0deg, #bce9d4 0%, white 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

// @mixin square($length) {
//   height: $length;
//   width: 100%;
//   border: 3px solid black;
//   &:hover {
//     border: 5px solid purple;
//   }
// }

// .body {
//   display: flex;

//   .one {
//     @include square(100px);
//     &:hover {
//       border: 5px solid green;
//     }
//   }

//   .two {
//     @include square(150px);
//   }
//   .three {
//     @include square(200px);
//   }

//   .four {
//     @include square(250px);
//   }
// }
