* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

// PRODUCTS AND CART BUTTON

.add-remove {
  width: 100%;
  border: 2px solid black;
  margin: 0 0 20px 0;
  background: #bce9d4;
  padding: 10px;
  border-radius: 10px 0;
  border: none;
}

// HEADER

.header {
  background: linear-gradient(180deg, #bce9d4 0%, white 100%);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 0px solid white;

  button {
    border: none;
    background: none;
    z-index: 60;
  }
  .menu-button img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .cauldron-button img {
    width: 50px;
    height: 50px;
  }
}

.menu-links {
  // overflow-y: scroll;
  background: white;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  padding-top: 20px;
  padding: 1em;
  text-transform: uppercase;
  z-index: 50;
  transform: translateX(-100%);

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 1em;
    transition: color 0.3 linear;
    &:hover {
      color: #98e4c1;
    }
  }

  .menu-item {
    margin: 10px;
    width: 50%;
  }
}

.show-menu {
  transform: translateX(0%);
}

// MAIN - Company Image

.company-img img {
  width: 100%;
}
// MAIN - Shop / Explore Button

.shop-btn {
  display: flex;
  justify-content: center;
}
.shop-btn button {
  font-size: 1.4em;
  letter-spacing: 2px;
  background: white;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

// MAIN - Product Categories
.product-cat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}
.product-cat img {
  max-width: 250px;
  max-height: 250px;
  padding: 10px;
  border-radius: 50%;

  &:hover {
    border: 2px dotted black;
    opacity: 40%;
  }
}
// MAIN - Customer Reviews

.reviews-carousel {
  padding: 60px;
  max-width: 700px;
  margin: auto;
}

// SHOP PRODUCTS PAGE

.product-container {
  max-width: 320px;
  margin: auto;
}
.product-card {
  width: 320px;
  height: 450px;
  text-align: center;
  position: relative;
  border: 1px gray solid;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
  height: 100%;
  :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bce9d4;
    clip-path: circle(150px at 80% -20%);
    transition: 0.5s ease-in-out;
  }
  // :hover:before {
  //   clip-path: circle(250px at 80% -20%);
  // }
  //Above hover code will be expanded upon in a later iteration of this website.

  .name {
    font-size: 1em;
    // padding: 10px;
    text-transform: uppercase;
  }
  img {
    padding: 10px;
    width: 80%;
    margin: auto;
  }

  p {
    text-align: justify;
    padding: 10px;
    margin: auto;
    font-size: 13px;
  }

  .price {
    font-size: 1.4em;
    margin: 0;
  }
}

.product-card button {
  border-radius: 10px 0;
  background-color: #bce9d4;
  border: white;
  width: 50%;
}

// CART

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;

  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    img {
      width: 10em;
    }

    h1 {
      width: 10em;
      font-size: 1em;
      text-align: center;
    }
  }
}

//ABOUT

.company-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;

  h1 {
    width: 300px;
    text-align: justify;
    padding: 10px;
    font-size: 1.4em;
  }

  p {
    width: 300px;
    text-align: justify;
    padding: 10px;
    font-size: 0.8em;
  }
}

// CONTACT FORM
.contact-form {
  text-align: center;
  padding: 25px;
  border: 2px solid black;
  margin: 1.8rem;
  max-width: 700px;
  margin: 30px 20px;

  h1 {
    font-size: 1em;
  }

  .email {
    padding: 10px;
    overflow: hidden;
  }

  .message-box {
    padding: 10px;
  }

  textarea {
    width: 90%;
    height: 7em;
  }

  button {
    background: #bce9d4;
    padding: 10px;
    border-radius: 10px 0;
    border: none;
  }
}
// FOOTER

.footer {
  background: linear-gradient(0deg, #bce9d4 0%, white 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter-form {
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 15px;
  }

  button {
    margin: 10px 0 0 0;
    padding: 0 10px;
    background: black;
    color: white;
    border-radius: 10px 0;
  }
}

.social div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}
